@charset 'utf-8';

main {
  max-width: 48em;
  margin-right: auto;
  margin-left: auto;
}
section {
  padding: 24px 0;
}
h1 {
  color: steelblue;
}
ol {
  padding: 0;
}
ol li {
  list-style-position: inside;
}
